@page
@model Hackathon.Pages.budcalModel
@{
}

<div class="maincontent">
    <div class="oreoBudgetCalculator" />
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        loadOreoCalculator($('.oreoBudgetCalculator'));
    });
</script>

