@page
@model Hackathon.Pages.budcalModel
@{
}

<div class="maincontent">
    <div class="oreoBudgetCalculator" />
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        loadOreoCalculator($('.oreoBudgetCalculator'));
    });
</script>


<!--Note: Need an action after budget is calculated, action tbc ...
    if budget -ve, ...
    if budget +ve, ...
    if budget 0 ,...
    etc.
-->
<button>Analyze</button>