@page
@model Hackathon.Pages.PersonalitiesModel
@{
}

<style>
    .type-group{

    }
    .type-group .types{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
    }

    .type-group .types .type {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
        outline: 0;
        text-decoration: none;
        transition: transform .2s;
        margin-top: 20px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .type {
        margin-bottom: 3rem;
    }

    .type img{
        height: 300px;
        width : 300px;
    }


    .types a:hover {
        transform: translate(0px,-10px);
        color: green;
    }

    .snippet {
        font-family:Arial;
        color:black;
        text-align: center;
        width: 50%;
    }

    .type h2 {
        font-family:Times New Roman;
    }

</style>
<div>
    <div class="header">
        <h1>Personality Types</h1>
    </div>

    <div class="type-group">
        <div class="types">
            <a href="#" class="type">
                <img src="~/assets/images/investor.gif"/>
                <h2>Investor</h2> 
                <div class="snippet">Primarily Cognitive, Good Self-Control, Patience, Tend to look for long term returns not only by price movement but also compounding interest and dividend over years, Focus on business fundamentals and commitment.</div>
            </a>        
            <a href="#" class="type">
                <img src="~/assets/images/trader.gif"/>
                <h2>Trader</h2> 
                <div class="snippet">Skilled, Technical individuals who time and learn market trends to hit higher profits in stipulated time, Tend to go for higher risk and higher potential returns.</div>
            </a>            
            <a href="#" class="type">
                <img src="~/assets/images/student.gif"/>
                <h2>Explorer</h2> 
                <div class="snippet">Open-minded, Flexible in own actions and decisions, Easily convinced and trust market news, Tend to be passive and easily influenced by others to invest.</div>
            </a>   
        </div>
    </div>
</div>

@section Scripts{

 }