@page
@model Hackathon.Pages.Index1Model
@{
}
<div class="container">
    <div class="oreoQuestionnaire" />
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/questionnaire/dist/questionnaire.min.js"></script>
<script>
    $(document).ready(function () {
        loadQuestionnaire($('.oreoQuestionnaire'));
    });
</script>